<img src="https://huggingface.co/datasets/huggingface/brand-assets/resolve/main/hf-logo.png" height=100><img src="https://github.com/chdb-io/chdb/raw/pybind/docs/_static/snake-chdb.png" height=100>

Hugging Face **[Datasets Server](https://huggingface.co/datasets)** is a lightweight web API for visualizing and exploring all types of datasets - computer vision, speech, text, and tabular - stored on  Hugging Face! The Datasets Server performs automatic conversion of all publicly available datasets into **Parquet files**.

Let's access **Datasets** using **[chDB](https://chdb.io)** and its native parquet processing capabilities!

https://huggingface.co/docs/datasets-server/index

In [ ]:
!pip install pyarrow pandas
!pip install chdb --pre --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyarrow in /usr/local/lib/python3.10/dist-packages (9.0.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: numpy>=1.16.6 in /usr/local/lib/python3.10/dist-packages (from pyarrow) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting chdb
  Downloading chdb-0.10.2-cp310-cp310-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (109.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 109.0/109.0 MB 8.4 MB/s eta 0:00:00
Installing collected packages: chdb
Successfully installed chdb-0.10.2

In [10]:
%%time
import chdb

# Dataset URL: https://huggingface.co/datasets/blog_authorship_corpus
url = "https://cdn-lfs.huggingface.co/datasets/blog_authorship_corpus/8ddb3aa485ba50c75b6eabbd1c81b20a36ca54656fef6d2050943e9779afd215?response-content-disposition=attachment%3B+filename*%3DUTF-8%27%27blog_authorship_corpus-train-00000-of-00002.parquet%3B+filename%3D%22blog_authorship_corpus-train-00000-of-00002.parquet%22%3B&Expires=1687121444&Policy=eyJTdGF0ZW1lbnQiOlt7IlJlc291cmNlIjoiaHR0cHM6Ly9jZG4tbGZzLmh1Z2dpbmdmYWNlLmNvL2RhdGFzZXRzL2Jsb2dfYXV0aG9yc2hpcF9jb3JwdXMvOGRkYjNhYTQ4NWJhNTBjNzViNmVhYmJkMWM4MWIyMGEzNmNhNTQ2NTZmZWY2ZDIwNTA5NDNlOTc3OWFmZDIxNT9yZXNwb25zZS1jb250ZW50LWRpc3Bvc2l0aW9uPSoiLCJDb25kaXRpb24iOnsiRGF0ZUxlc3NUaGFuIjp7IkFXUzpFcG9jaFRpbWUiOjE2ODcxMjE0NDR9fX1dfQ__&Signature=dWDhhI656rMTECLHF3wWugL4LhKtiVWy30tZxtoaaAP16rZTNynSt0jS7wrKU81EZmAGEpWnOb3LMKEodW9mB%7EpQ5tsx3%7EElq0aZybHoVwcBeV3Chp34rwOEu1PRDpVBTSfqmVImMFloZ0le%7EH%7ErNtX8m4IeSaUiaV3hCm-AbWpuEXxu6L0tvQQVtAjtYiySR-IkS7eG00oSHw-ZOEC%7Ezj-ctEWN3G8gIIqKe2Gsg70LJNhocx9rBoqWTWgkKyteeLtImws3zqdsWybZtEqkNk9RmO6A1aiCfqpHnbWo9ZeoHWNvIJ5CZ%7EONHgC7NG7Wndpy41KsTn7mL5%7EaizLsJg__&Key-Pair-Id=KVTP0A1DKRTAX"

# Query Dataset using SQL and ClickHouse:
query = f"""SELECT horoscope, count(*) as count, avg(length(text)) as avg_blog_length
FROM url('{url}', Parquet)
GROUP BY horoscope
ORDER BY avg_blog_length DESC
LIMIT 12;"""
chdb.query(query, 'Dataframe')

CPU times: user 1.8 s, sys: 275 ms, total: 2.07 s
Wall time: 4.05 s

         horoscope  count  avg_blog_length
0      b'Aquarius'  34062      1134.379426
1        b'Cancer'  41509      1100.819172
2     b'Capricorn'  33961      1078.648450
3         b'Libra'  40302      1074.620317
4           b'Leo'  40587      1068.775987
5         b'Virgo'  45975      1030.875345
6   b'Sagittarius'  31642      1020.173124
7       b'Scorpio'  38264      1014.192635
8        b'Taurus'  40634      1011.540139
9        b'Gemini'  33251      1004.638537
10       b'Pisces'  36391       983.642714
11        b'Aries'  39422       970.182994