<img src="https://github.com/chdb-io/chdb/raw/main/docs/_static/snake-chdb.png" height=100><img src="https://assets.stickpng.com/images/5a6f11feab538104d4a30e80.png" height=60>

# chDB

chDB / ClickHouse Taxi parquet demo on Google Colab

In [ ]:
!pip install chdb --pre --upgrade

!mkdir -p taxi
!wget https://github.com/cwida/duckdb-data/releases/download/v1.0/taxi_2019_04.parquet -O taxi/201904.parquet
!wget https://github.com/cwida/duckdb-data/releases/download/v1.0/taxi_2019_05.parquet -O taxi/201905.parquet
!wget https://github.com/cwida/duckdb-data/releases/download/v1.0/taxi_2019_06.parquet -O taxi/201906.parquet

In [ ]:
%%time
import chdb
chdb.query('SELECT * FROM file("taxi/*.parquet", Parquet) LIMIT 5', 'Dataframe');

In [ ]:
%%time
# chDB
chdb.query("SELECT count(*) FROM file('taxi/*.parquet', Parquet)  WHERE pickup_at > '2019-06-30'", 'Dataframe');

In [ ]:
# chDB

import altair as alt
import chdb

data = chdb.query('SELECT toDate(pickup_at) as date, passenger_count FROM file("taxi/*.parquet", Parquet) LIMIT 5', 'Dataframe');

data
#alt.Chart(data)